/* @media only screen and (min-width: 768px) {
    html {
        font-size: 90px;
    }
}

@media only screen and (min-width: 992px) {
    html {
        font-size: 90px;
    }
}
@media only screen and (min-width: 1600px) {
    html {
        font-size: 100px;
    }
} */

@media only screen and (max-width: 768px) {
    .container{
        width: 100% !important;
    }
    /* 首页 */
    
    
}
@media only screen and (min-width: 992px) {
    .container{
        width: 90% !important;
    }
}
@media only screen and (min-width: 1400px) {
    .container{
        width: 80% !important;
    }
}
@media only screen and (min-width: 1920px) {
    .container{
        width: 1536px;
    }
}